

body {
	margin: 0 auto;
	height: 100%;
	position: relative;
}



.top_menu {
	background-color: #232323;
	padding: 25px;
	max-height: 50px;
	text-align: center;
}


.top_menu li {
	display: inline-block;
	font-size: 28px;
	padding-left: 50px;
	padding-right: 50px;
}

.image_content {
	background-color: #444242;
	height: 1200px;
	width: 100%;
	margin: 5px 0 5px 0;
	
}

.contact {
	background-color: #232323;
	width: 100%;
	text-align: center;
	color: white;
	padding: 20px 0 20px 0;
	font-family: "WiGuru 1", "sens-serif",arial;
}

.image_blocks {
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.image_block {
	float: left;
	width: 20%;
	height: 150px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.image_block:hover {
	-webkit-transform: scale(1.2);
	 -ms-transform: scale(1.2);
	 -moz-transform: scale(1.2);
	 transform: scale(1.2);
}

.str {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.image_blocks a {
	display: inline-block;
	padding: 20px;
	font-size: 30px;
	
}


a {
	color: white;
	text-decoration: none;
	font-family: "WiGuru 1", arial;

}

menu {
	padding-left: 0;
	position: fixed;
	width: 10%
}

menu li {
	display: block;
	font-size: 20px;
	padding: 15px;
}

.holder-html-chat{ border: 1px solid #444242;padding:10px;background-color: #444242;width: 600px;left: 200px;}
.html-chat-history{ max-width: 600px; overflow: auto;max-height: 900px; border: 0px solid #444242;padding: 5px;color: white;}
.html-chat-js-name{ margin-top:10px; color: #444242;}
.html-chat-js-input{ max-width: 600px;max-height: 100px;width: 600px;margin-top:10px; }
.html-chat-js-button-holder{ margin-bottom: 0px;margin-top: 10px; }
.html-chat-js-button-holder input{ width: 220px; }
.html-chat-js-answer{ float:right; }
.html-chat-js-answer a{ color: white;font-size: 12px; font-family: cursive;}
.html-chat-js-answer a:hover{ color: white;font-size: 12px; font-family: cursive;}
.html-chat-msg{ margin: 0px; }

